<ion-header-bar class="bar-positive">
<h2 class="title"> More Info</h2>
</ion-header-bar>

<ion-view>
  <ion-content class="padding mySplash">
	
	<ion-list class="list-inset center">
		<ion-item class="item-text-wrap">
			<img class="circle" ng-src="img/{{profile.spec}}.svg" alt="{{ profile.firstname+' '+profile.lastname }}">
			<h2>{{ profile.firstname+" "+profile.lastname }}</h2>
			<h3>{{ profile.spec }}</h3>
			<h3>{{ profile.address }}</h3>
			<p>{{ profile.desc }}</p>
		</ion-item>


	</ion-list>
	<!-- end of profile section -->    


    <div><!-- start of comment list -->	
	    <div class="list card otherComments" id="otherComments"> 
			 
			<div class="padding rating_header"><!-- start of value of rating -->
			    	<div class="rating_total">
			    		<h1>3.1</h1>
			    	</div>

			    	<div class="rating_person_number">
			        	<rating readonly="readOnly" ng-model="3" max="rating.max"></rating>
			    		<p>55 664 <i class="icon ion-person"></i></p>
			    	</div>

			    	<div class="rating_graph">
			    		<p>5 <i class="icon ion-star"></i> 30%</p>
			    		<p>4 <i class="icon ion-star"></i> 30%</p>
			    		<p>3 <i class="icon ion-star"></i> 30%</p>
			    		<p>2 <i class="icon ion-star"></i> 05%</p>
			    		<p>1 <i class="icon ion-star"></i> 05%</p>
			    	</div><!-- graph rating div -->			    	
			</div><!-- end of value of rating -->
			
			<ion-item class="item-avatar" ng-repeat-start="item in comments | filter:{doctorid: profile.id} | orderBy:['+editTime','-report']">
		        <ionic-letter-avatar data="{{getUser(item.userid)}}" avatarborder="true" shape="round"></ionic-letter-avatar>
		        <h2>{{getUser(item.userid)}}</h2>
		        <ul class="MyRating">
		        	<li>
		        		<i class="icon ion-ios-star"></i></li>
		        	<li>
		        		<i class="icon ion-ios-star"></i></li>
		        	<li>
		        		<i class="icon ion-ios-star"></i></li>
		        	<li>
		        		<i class="icon ion-ios-star-outline"></i></li>
		        	<li>
		        		<i class="icon ion-ios-star-outline"></i></li>
		        </ul>
		        <!-- <rating readonly="readOnly" ng-model="rating.rate" max="rating.max"></rating> -->
		        <p>{{item.editTime | date:'medium'}}</p>				
			</ion-item>	
			<ion-item class="item-body"  ng-repeat-end>
		        <h2>Superbe !!!</h2>
		        <p> {{item.content | limitTo:50}} </p>
			</ion-item>

	    </div>

	    <div ng-show="showMyCommentDiv" id="MyCommentAvatar" class="list card stable-bg center CommentAvatar padding"> 
		        <!-- <img src="img/Xhou_Ta_tn.jpg"> -->
		        <!-- <ionic-letter-avatar data="Xhou Ta" avatarborder="true" shape="round"></ionic-letter-avatar> -->
		        <!-- <h4>Xhou Ta (app user)</h4> -->
		    <div class="item-divider center"><h3>Donnez votre Avis</h3>
		    <rating ng-click="ratingClick(rating.rate)" ng-model="rating.rate" max="rating.max"></rating>
		    </div>
	    </div>    	    
    </div><!-- end of giving comments -->

</ion-content>

</ion-view>