      <ion-header-bar class="bar-dark">

        <button class="button button-icon ion-minus-circled" ng-click="data.showDeleted =
        !data.showDeleted ; data.showReorder = false;"></button>

        <h2 class="title"> Artist List</h2>

        <button class="button button-icon ion-navicon" ng-click="data.showReorder =
        !data.showReorder ; data.showDeleted = false;"></button>

      </ion-header-bar>   


        <div class="bar bar-subheader item-input-inset bar-light">
                <div class="search_header">
                    <div class="search_header_label">Centres médicaux alentour de </div>
                    <div class="search_header_distance">10 km</div>
                </div>            
        </div>      


        <ion-content  class="has-subheader">


            <!-- refrecher -->
            <ion-refresher on-refresh="doRefreshser()">
            </ion-refresher>

            <!-- sub header range -->
           <div class="range_header">                
                <div class = "item range">
                    <button class="button button-assertive button-small">2</button>
                    <input type = "range" name = "range1">
                    <button class="button button-assertive button-small">10</button>                   
                </div>                
            </div>
             
            <!-- choix de specialite -->
            <div class="list">

              <label class="item item-input item-select">
                
                <div class="input-label">
                  Chercher les :
                </div>

                <select>
                  <option>Hopitaux</option>
                  <option selected>Medcin Généraux</option>
                  <option>Psychiatre</option>
                  <option>...</option>
                </select>
              </label>

            </div>            
            <!-- la liste -->
            <ion-list show-reorder="data.showReorder" show-delete="data.showDeleted">

                <ion-item ng-class="'star' : item.star" ng-repeat='item in artists | filter: query' class="item-thumbnail-left item-icon-right item-text-wrap" href="#/app/list/{{ item.shortname }}">
                
                <img ng-src="img/{{ item.shortname }}_tn.jpg" alt="{{ item.name }} Photo">
                <h2>{{ item.name }} My name</h2>
                <h3>{{ item.reknown }}</h3>
                <p>{{ item.bio |limitTo:150 }}
                
                {{item.bio.length > 100 ? '&hellip;':''}}
                </p>
                <button class="button button-clear icon ion-star button-assertive" ng-click="toggleStar(item)" ng-show="item.star">
                </button>

                <ion-option-button class="button-dark" ng-click="toggleStar(item)">
                <i class="icon ion-star"></i>
                </ion-option-button>

                <ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)">
                </ion-reorder-button>
                <ion-delete-button class="ion-minus-circled" ng-click="deleteItem(item)">
                </ion-delete-button>
                </ion-item>
            </ion-list>

        </ion-content>
