        <div class="bar bar-subheader item-input-inset bar-light">
                <div class="search_header">
                    <div class="search_header_label">Centres médicaux alentour de </div>
                    <div class="search_header_distance"> {{ search_head_distance }} km</div>
                </div>            
        </div>      

        <div class="myAdded">
            <!-- sub header range -->
           <div class="range_header">                
                <div class = "item range">
                    <button class="button button-assertive button-small">{{rangeMinInit}}</button>
                    <input type ="range" min="{{rangeMinInit}}" max="{{rangeMaxInit}}" ng-model="rangeValue" ng-change="drag(rangeValue)" name="range1"> 
                    <button class="button button-assertive button-small" ng-click="showPopup()">{{rangeMaxInit}}</button>                   
                </div>                
            </div>
             
            <!-- choix de specialite -->
            <div class="list">

              <label class="item item-input item-select">
                
                <div class="input-label">
                  Chercher les :
                </div>

                <select>
                  <option>Tous</option>
                  <option>Hopitaux</option>
                  <option selected>Medcins Généraux</option>
                  <option>Psychiatre</option>
                  <option>...</option>
                </select>
              </label>

            </div>  

        </div>
        <ion-content  class="has-subheader myContent">

            <!-- refrecher -->
            <!--<ion-refresher on-refresh="doRefreshser()">
            </ion-refresher>-->

            <!-- la liste -->
          <ion-list show-reorder="data.showReorder" show-delete="data.showDeleted">

        

                <ion-item ng-class="'star' : item.star" ng-repeat='item in artists | filter: query' class="item-thumbnail-left item-icon-right item-text-wrap" href="#/app/list/{{ item.shortname }}">
                
                <img ng-src="img/{{ item.shortname }}_tn.jpg" alt="{{ item.name }} Photo">
                <h2>{{ item.name }} My name</h2>
                <h3>{{ item.reknown }}</h3>
                <p>{{ item.bio |limitTo:150 }}
                
                {{item.bio.length > 100 ? '&hellip;':''}}
                </p>

                <!--<button class="button button-clear icon ion-star button-assertive" ng-click="toggleStar(item)" ng-show="item.star">
                </button>-->

                <ion-option-button class="button-dark" ng-click="goToLocation(item)">
                <i class="icon ion-ios-location"></i>
                </ion-option-button>

                <ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)">
                </ion-reorder-button>
               
                <ion-delete-button class="ion-minus-circled" ng-click="deleteItem(item)">
                </ion-delete-button>
                </ion-item>

            </ion-list>

      
        </ion-content>
 