<!--
  #TIP: in this case we hide the navbar provided by navigation system.
-->

<ion-view hide-nav-bar="true">


  <!-- in our custom header bar we give a link to start screen -->
  <ion-header-bar class="bar bar-deepblue bar-deepblue-borderbottom">
    <button ui-sref="app.start" class="button button-clear button-deepblue-white"><i class="white-color ion-arrow-left-c"></i></button>
    <h2 class="text-center title">Authentification</h2>
  </ion-header-bar>



  <ion-content  style="background: url(../img/login.jpg) center; background-size: cover;">
  <br>
    <div class=" text-center padding">
      <img class="avatar-account" ng-src="../img/capture.png">
    </div>

    <!--div class="hero no-header flat">
          <div class="content">
            <div class="app-icon"></div>
            <h1 class="text-center ">Sehati</h1>
          </div>
    </div-->



        <div class="col col-center">
          <div class="col col-center padding">
             <div class="list" ng-app="starter" ng-controller="loginCtrl">


              <label class="item item-input  ">
                <input id="user" type="text" ng-model="username" placeholder="name">
              </label>

              <label class="item item-input ">
                <input id="password" type="password" ng-model="password" placeholder="mot de passe">
              </label>


                </div>
              <button class=" button button-block bar bar-deepblue" ng-click="login()"> <h4 class=" title sans-pro-light">OK</h4> </button>
          </div>
        </div>


        <!--
          #SIMPLIFIED-IMPLEMENTATION:
          login just sets an user! (see controllers.js for more)
        -->

  </ion-content>

  <!-- we put the forgot password link in the footer -->
  <ion-footer-bar class="bar bar-deepblue bar-deepblue-bordertop pointer" ui-sref="app.forgot">
    <h1 class="title sans-pro-light">  Mot de passe oublié?</h1>
  </ion-footer-bar>

</ion-view>
