<!-- 
  #IMPLEMENTATION-DETAIL:
  this view is our top one and uses ion-side-menus component.
  In case of views where we want to hide the menu, we'll hide the 
  navigation bar provided here.
  #TIP: enable-menu-with-back-views="true" is set to true to show the menu opening control in all views by default.
-->
<ion-side-menus enable-menu-with-back-views="true">
  
  <ion-side-menu-content >
    <ion-nav-bar class="bar-deepblue ">
      <!-- #TIP: <ion-nav-back-button> is commented out in this example,
        uncomment if you need a back button in some views.
      -->
      <!--
      <ion-nav-back-button>
      </ion-nav-back-button>
      -->
      <ion-nav-buttons side="left" >

        <button class="white-color button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    
    <ion-nav-view name="menuContent" class="slide-left-right"></ion-nav-view>
  
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <!--
      #IMPLEMENTATION-DETAIL:
      we are using our custom bar classes here
      see scss/themed.scss for implementation.
    -->
    <ion-header-bar class="bar-deepblue-reverse bar-deepblue-borderbottom ">
      <h2 class="title text-center">Menu</h2>
    </ion-header-bar>

    <ion-content style="background-color: white">
        <ion-list>
            <ion-item ng-show="user.avatar" menu-close ui-sref="app.account" class="item-menu-avatar text-center ">
              <img ng-src="{{user.avatar}}" class="avatar-menu">
            </ion-item>
            <ion-item menu-close class="android-menu text-center " ui-sref="app.account">
              <b>{{ user.name}}</b>
            </ion-item>
      </ion-list>

          <div  ng-show= "userType == 'patient'" class=" ng-hide">

            <ion-list>
                <!-- #TIP:
                  Menu items are wrapped In the following <ion-list>.
                  Each one has attribute "menu-close" set in order to automatically close side menu on click
                -->


                  <ion-item  menu-close  ui-sref="app.shop" >
                    <TABLE  BORDER="0">
                      <TR>
                        <TD align="left" WIDTH="1%">  Accueil </TD>
                        <TD align="right" WIDTH="5">
                          <i class="pull-right icon ion-ios-arrow-forward"> </i>
                        </TD>
                      </tr>
                    </TABLE>
                  </ion-item>


                  <ion-item menu-close   ui-sref="app.envoyer">
                    <TABLE BORDER="0">
                      <TR>
                        <TD align="left" WIDTH="1%"> Envoyer Taux </TD>
                        <TD align="right" WIDTH="5">
                          <i class="pull-right icon ion-ios-arrow-forward"> </i>
                        </TD>
                      </tr>
                    </TABLE>
                  </ion-item>

                  <ion-item menu-close  ui-sref="app.signaler">
                    <TABLE BORDER="0">
                      <TR>
                        <TD align="left" WIDTH="1%"> Signaler Incident </TD>
                        <TD align="right" WIDTH="5">
                          <i class="pull-right icon ion-ios-arrow-forward"> </i>
                        </TD>
                      </tr>
                    </TABLE>
                  </ion-item>

                  <ion-item menu-close  ui-sref="app.reserve">
                    <TABLE BORDER="0">
                      <TR>
                        <TD align="left" WIDTH="1%"> Réserver Vehicule </TD>
                        <TD align="right" WIDTH="5">
                          <i class="pull-right icon ion-ios-arrow-forward"> </i>
                        </TD>
                      </tr>
                    </TABLE>
                  </ion-item>
              </ion-list>
            </div>


          <div  ng-show= "userType == 'medecin'" class=" ng-hide">
      <ion-list >

        <ion-item menu-close ui-sref="app.shop2">
          <TABLE  BORDER="0">
            <TR>
              <TD align="left" WIDTH="1%">  Accueil </TD>
              <TD align="right" WIDTH="5">
                <i class="pull-right icon ion-ios-arrow-forward"> </i>
              </TD>
            </tr>
          </TABLE>
        </ion-item>

        <ion-item menu-close ui-sref="app.patients">
          <TABLE  BORDER="0">
            <TR>
              <TD align="left" WIDTH="1%"> Patients </TD>
              <TD align="right" WIDTH="5">
                <i class="pull-right icon ion-ios-arrow-forward"> </i>
              </TD>
            </tr>
          </TABLE>
        </ion-item>

        <ion-item menu-close ui-sref="app.rdv-medecin">
          <TABLE  BORDER="0">
            <TR>
              <TD align="left" WIDTH="1%"> Rendez-vous</TD>
              <TD align="right" WIDTH="5">
                <i class="pull-right icon ion-ios-arrow-forward"> </i>
              </TD>
            </tr>
          </TABLE>
        </ion-item>


      </ion-list>

    </div>
      <div  ng-show= "userType == 'para'" class=" ng-hide">
        <ion-list >

          <ion-item menu-close ui-sref="app.shop3">
            <TABLE  BORDER="0">
              <TR>
                <TD align="left" WIDTH="1%">  Accueil </TD>
                <TD align="right" WIDTH="5">
                  <i class="pull-right icon ion-ios-arrow-forward"> </i>
                </TD>
              </tr>
            </TABLE>
          </ion-item>

          <ion-item menu-close ui-sref="app.renseignerAct">
            <TABLE  BORDER="0">
              <TR>
                <TD align="left" WIDTH="1%"> Renseigner Acte </TD>
                <TD align="right" WIDTH="5">
                  <i class="pull-right icon ion-ios-arrow-forward"> </i>
                </TD>
              </tr>
            </TABLE>
          </ion-item>

          <ion-item menu-close ui-sref="app.patients">
            <TABLE  BORDER="0">
              <TR>
                <TD align="left" WIDTH="1%"> Patients </TD>
                <TD align="right" WIDTH="5">
                  <i class="pull-right icon ion-ios-arrow-forward"> </i>
                </TD>
              </tr>
            </TABLE>
          </ion-item>

        </ion-list>

      </div>
            <!--div  ng-show= "userType == 'para'" class=" ng-hide">
              <ion-item menu-close ui-sref="app.shop2">
                Accueil
              </ion-item>

              <ion-item menu-close ui-sref="app.patients">
                Patients
              </ion-item>

              <ion-item menu-close ui-sref="app.rdv-medecin">
                Rendez-vous
              </ion-item>

            </div-->


    </ion-content>
    
    <!-- 
      #IMPLEMENTATION-DETAIL:
      we choose to put a "logout" button in the footer of side menu.
      the "logout" method in contained in "AppCtrl" controller (see controllers.js)
    -->
    <ion-footer-bar class="bar bar-deepblue-reverse bar-deepblue-bordertop" ng-click="logout()" menu-close>
      <h1 class="title sans-pro-light">  Déconnexion</h1>
    </ion-footer-bar>


  
  </ion-side-menu>
</ion-side-menus>