<!--
  #TIP: in this case we hide the navbar provided by navigation system.
-->
<ion-view hide-nav-bar="true">
  
  <ion-content class="padding full-height">
    <h2 class="text-center white-color home-title">
        Sehati
    </h2>
    
    <h4 class="white-color text-center sans-pro-light">

        <div class=" text-center">
            <img class="avatar-account" ng-src="../img/capture.png">
        </div>
        <br>
        Vous etes...
    </h4>

    <div class="row">
        <div class="col col-center"> </div>
        <div class="row row-stretch">
            <button class="button button-light button-balanced button-outline button-block" ui-sref="app.login">login</button>
            <button class="button button-light button-balanced button-outline button-block" ui-sref="app.signeup">signeup</button>
            
        </div>
        <div class="col col-center"></div>
    </div>
  </ion-content>

</ion-view>
