/* Empty. Add your own CSS if you like */
#map {
  width: 100%;
  height: 100%;
}

.scroll {
  height: 100%;
}

.search_header{
	width: 100%;
}

.search_header>div{
	display: inline-block;
}
.search_header_label{
	float: left;
}
.search_header_distance{
	float: right;
}

.myAdded{
	margin-top:44px;

}
.myContent{
	margin-top:104px !important;
}
